{%if runtime == "tensorflow" %}
from typing import Any, Dict, List, MutableMapping, Optional, Union

import tensorflow as tf

from {{project}} import featurizer, metadata
from {{project}}.config import Log
# from {{project}}.network import transformer

Tensor = Union[tf.Tensor, Any]


def model_fn(
    features: Tensor,
    labels: Optional[Tensor] = None,
    mode: str = tf.estimator.ModeKeys.TRAIN,
    params: Dict[str, Any] = None
):
    """Model function for the estimator model.

    Args:
        features (tf.Tensor): A valid Tensor coming from `inputs.py`.
        labels (tf.Tensor): A tensor that could be None during prediction or return from `inputs.py`.
        mode (str): Mode to which estimator runs in. See `tf.estimator.ModeKeys` for details.
        params (Dict[str, Any]): A dictionary mapping of that contains all info from arg parser.

    Returns:
        tf.estimator.EstimatorSpec: Generic tensorflow estimator spec.
    """
    # Create feature columns.
    feature_columns = featurizer.create_feature_columns(params)
    Log.warn(f'Feature columns: {feature_columns}')

    is_training: bool = (mode == tf.estimator.ModeKeys.TRAIN or
                         mode == tf.estimator.ModeKeys.EVAL)

    loss, predictions = None, None
    train_op, scaffold = None, None
    training_hooks = []

    # TODO: Input features for dense layers.
    # List of dense column used by the model.
    columns: List[MutableMapping[str, Any]] = [feature_columns['...'], ...]
    feature_dense_layer = tf.keras.layers.DenseFeatures(columns)
    feature_inputs = feature_dense_layer(features)

    # TODO: Input features for sequence layers.
    # List  of sequence column used by the model.
    # seq_cols: List[MutableMapping[str, Any]] = [feature_columns['...'], ...]
    # feature_seq_layer = tf.keras.experimental.SequenceFeatures(seq_cols)
    # seq_input, seq_length = feature_seq_layer(features)
    # seq_len_mask = tf.sequence_mask(seq_length)

    # NOTE: The actual model is created as a submodule that can be imported used
    # independently from project to project.
    # TODO: Model initialization.
    model: tf.keras.Model = ...

    # Training.
    if is_training:
        # TODO: Feature columns for classification/regression problems...
        # target_layer = tf.keras.layers.DenseFeatures(metadata.TARGET_LABELS)
        target_layer = tf.keras.layers.DenseFeatures(
            feature_columns[metadata.TARGET_NAME]
        )
        target = target_layer(labels)

        # Optimizer definition.
        optimizer = tf.keras.optimizers.Adam(learning_rate=params['learning_rate'],
                                             beta_1=0.9, beta_2=0.98, epsilon=1e-9)
        # Checkpoint.
        ckpt = tf.train.Checkpoint(step=tf.compat.v1.train.get_global_step(),
                                   model=model, optimizer=optimizer)

        # Loss function.
        # TODO: Loss definition goes here...
        with tf.GradientTape() as tape:
            # Making predictions.
            pred, _ = model(feature_inputs, training=is_training)
            # Loss function.
            loss = tf.reduce_mean(
                tf.losses.mean_squared_error(target, pred),
                name='loss',
            )

        variables = model.trainable_variables
        gradients = tape.gradient(loss, variables)

        # Only during training.
        if mode == tf.estimator.ModeKeys.TRAIN:

            train_op = tf.group(optimizer.apply_gradients(zip(gradients, variables)),
                                ckpt.step.assign_add(1))

            # Tell the Estimator to save "ckpt" in an object based format.
            # scaffold = tf.compat.v1.train.Scaffold(saver=ckpt

            # Logging hooks.
            training_hooks.append(tf.estimator.LoggingTensorHook(tensors={
                "loss": loss,  # Loss
                "pred": pred,  # price prediction.
            }, every_n_secs=10))

    # TODO: Prediction definition goes here...
    else:
        # Making predictions.
        pred, embeddings = model(feature_inputs, training=is_training)

        # Predictions & input embeddings.
        predictions = {
            'predictions': pred,
            'embeddings': embeddings
        }
        Log.debug(f'Predictions: {predictions}')

    return tf.estimator.EstimatorSpec(
        mode=mode,
        predictions=predictions,
        loss=loss,
        train_op=train_op,
        training_hooks=training_hooks,
        scaffold=scaffold,
    )


def create_estimator(args):
    """Creates estimator model from `model_fn` with `RunConfig` based on `args`.

    Args:
        args (argparse.Namespace): Parsed command line arguments.

    Returns:
        tf.estimator.Estimator: TF estimator model.
    """
    # Estimator run configuration.
    run_config = tf.estimator.RunConfig(
        model_dir=args.job_dir,
        tf_random_seed=args.seed,
        log_step_count_steps=args.log_steps,
        # change if you want to change frequency of saving checkpoints
        save_checkpoints_secs=args.checkpoint_every_sec,
        keep_checkpoint_max=args.num_checkpoint_to_save,
    )

    # Create TF estimator from model_fn.
    estimator = tf.estimator.Estimator(model_fn=model_fn,
                                       model_dir=args.job_dir,
                                       config=run_config,
                                       params=vars(args),
                                       warm_start_from=args.warm_start_ckpt)

    return estimator
{% else %}
"""Defines a Keras model and input function for training."""

import tensorflow as tf


def input_fn(features, labels, shuffle, num_epochs, batch_size):
    """Generates an input function to be used for model training.

    Args:
      features: numpy array of features used for training or inference
      labels: numpy array of labels for each example
      shuffle: boolean for whether to shuffle the data or not (set True for
        training, False for evaluation)
      num_epochs: number of epochs to provide the data for
      batch_size: batch size for training

    Returns:
      A tf.data.Dataset that can provide data to the Keras model for training or
        evaluation
    """
    if labels is None:
        inputs = features
    else:
        inputs = (features, labels)
    dataset = tf.data.Dataset.from_tensor_slices(inputs)

    if shuffle:
        dataset = dataset.shuffle(buffer_size=len(features))

    # We call repeat after shuffling, rather than before, to prevent separate
    # epochs from blending together.
    dataset = dataset.repeat(num_epochs)
    dataset = dataset.batch(batch_size)

    return dataset


def create_keras_model(params):
    # TODO: Define model here (preferably if imported from a submodule)..
    Dense = tf.keras.layers.Dense
    model = tf.keras.Sequential()
    model.add(Dense(100, activation=tf.nn.relu,
                    kernel_initializer='uniform',
                    input_shape=(params['input_dim'],)))
    model.add(Dense(75, activation=tf.nn.relu))
    model.add(Dense(50, activation=tf.nn.relu))
    model.add(Dense(25, activation=tf.nn.relu))
    model.add(Dense(1, activation=tf.nn.sigmoid))

    # Custom Optimizer:
    # https://www.tensorflow.org/api_docs/python/tf/train/RMSPropOptimizer
    optimizer = tf.keras.optimizers.RMSprop(lr=params['learning_rate'])

    # Compile Keras model
    model.compile(
        loss='binary_crossentropy',
        optimizer=optimizer,
        metrics=['accuracy']
    )

    return model

{% endif %}
