#!/bin/bash

# Evaluation input path.
INPUT_PATH={{eval_input_path}}

# Model directory.
MODEL_DIR={{model_dir_gc}}
# MODEL_DIR=trained_model/

echo "Evalutating..."

python evaluate.py \
  --input-path ${INPUT_PATH} --job-dir ${MODEL_DIR}
  --structured-outputs
