#!/bin/bash

REGION="us-central1"
TIER="BASIC_GPU"                   # BASIC | BASIC_GPU | STANDARD_1 | PREMIUM_1

RUNTIME_VERSION=2.1
PYTHON_VERSION=3.7

MODEL_NAME="{{project}}"     # change to your model name
BUCKET="lotlinxdata/${MODEL_NAME}"  # change to your bucket name

PACKAGE_PATH={{project}} # this can be a gcs location to a zipped and uploaded package
TRAIN_FILES={{train_files}}
EVAL_FILES={{eval_files}}

CURRENT_DATE=`date +%Y%m%d_%H%M%S`
JOB_NAME=${MODEL_NAME}_${TIER}_${CURRENT_DATE}
MODEL_DIR=trained_model/${JOB_NAME}
# JOB_NAME=tune_${MODEL_NAME}_${CURRENT_DATE} # for hyper-parameter tuning jobs

echo "Training model locally..."

gcloud ai-platform local train \
        --module-name=${PACKAGE_PATH}.task \
        --package-path=${PACKAGE_PATH}  \
        -- \
        --train-files ${TRAIN_FILES} \
        --eval-files ${EVAL_FILES} \
        --compression-type GZIP \
        --job-dir ${MODEL_DIR} \
        --num-epochs 5 \
        --train-batch-size 512 \
        --train-steps 10 \
        --no-use-MLS

# notes:
# use --packages instead of --package-path if gcs location
# add --reuse-job-dir to resume training
