[loggers]
keys=root,{{project}}

[handlers]
keys=stream_handler

[formatters]
keys=formatter

[logger_root]
level=ERROR
handlers=stream_handler
qualname=root_logger
propagate=0

[logger_{{project}}]
level=ERROR
handlers=stream_handler
qualname={{project}}_logger
propagate=0

[handler_stream_handler]
class=StreamHandler
level=ERROR
formatter=formatter
args=(sys.stderr,)

[formatter_formatter]
class=colorlog.ColoredFormatter
format=%(log_color)s%(levelname)-8s%(reset)s | %(log_color)s%(message)s%(reset)s
datefmt=%m-%d %H:%M:%S
