 <!-- TODO: Update README.md. -->
<!--
# TF Estimator Template

A tensorflow estimator model template to train model with the `tf.esimator.Estimator` API.

- Metadata (metadata.py)
- Loading and pre-processing data with `tf.data.Dataset` API (inputs.py)
- Feature columns (featurizer.py)
- Create `tf.estimator.EstimatorSpec` (model.py)
- Train and evaluate model (task.py)

-->

# {{project | capitalize | replace: "_", " "}}

The purpose of this repository is to provide a template for the Machine Learning & Data team of how you can package a [TensorFlow](https://tensorflow.org) training model to submit it to [AI Platform](https://cloud.google.com/ai-platform/).
The template makes it easier to organise your code, and to adapt it to your dataset.
In more details, the template covers the following functionality:

- Metadata to define your dataset, along with the problem type *(classification vs regression)*.
- Standard implementation of input, parsing, and serving functions.
- Automatic feature columns creation based on the metadata (and normalisation stats).
- Wide & Deep model construction using custom networks.
- Train, evaluate, and export the model.
- [TODO] Parameterisation of the experiment.

Although the template provides standard implementation to different functionality, you can customise these parts with your own implementation.

## Repository Structure

1. **[{{project}}]({{project}})**: The directory includes:
    - trainer template with all the python modules to adapt to your data.
    - ```setup.cfg```.
    - ```config.yaml``` file for hyper-parameter tuning and specifying the AI Platform scale-tier.
    - ```inference.py``` python (sample) script to perform prediction using a deployed model's API on AI Platform.

2. **[bin](bin)**: The directory includes command-line scripts to:
    - Train the model locally.
    - Train the model on AI Platform.
    - Deploy the model on GCP as well as to make prediction (inference) using the deployed model.
    - Run evaluation, prediction and web services.

The examples show how the template is adapted given a dataset. The datasets are found in the examples' folders (under "data" sub-directory).

## Trainer {{project | capitalize}} Modules

| File Name                               | Purpose                                                                                                                                                                                                                                                                                                                                 | Do You Need to Change?                                                                                          |
| :-------------------------------------- | :-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | :-------------------------------------------------------------------------------------------------------------- |
| [metadata.py]({{project}}/metadata.py)     | Defines: 1) task type, 2) input data header, 3) numeric and categorical feature names, and 4) target feature name (and labels, for a classification task)                                                                                                                                                                               | **Yes**, as you will need to specify the metadata of your dataset. **This might be the only module to change!** |
| [inputs.py]({{project}}/inputs.py)         | Includes: 1) data input functions to read data from csv and tfrecords files, 2) parsing functions to convert csv and tf.example to tensors, 3) function to implement your custom  features processing and creation functionality, and 4) prediction functions (for serving the model) that accepts CSV, JSON, and tf.example instances. | **Maybe**, if you want to implement any custom pre-processing and feature creation during reading data.         |
| [featurizer.py]({{project}}/featurizer.py) | Creates: 1) TensorFlow feature_column(s) based on the dataset metadata (and other extended feature columns, e.g. bucketisation, crossing, embedding, etc.), and 2) deep and wide feature column lists.                                                                                                                                  | **Maybe**, if you want to change your feature_column(s) and/or change how deep and wide columns are defined.    |
| [model.py]({{project}}/model.py)           | Includes: 1) function to create DNNLinearCombinedRegressor, and 2) DNNLinearCombinedClassifier.                                                                                                                                                                                                                                         | **No, unless** you want to change something in the estimator, e.g., activation functions, optimizers, etc..     |
| [experiment.py]({{project}}/task.py)       | Runs the model training and evaluation experiment, and exports the final model.                                                                                                                                                                                                                                                         | **No, unless** you want to add/remove parameters, or change parameter default values.                           |
| [task.py]({{project}}/task.py)             | Includes: 1) Initialise and parse task arguments (hyper parameters), and 2) Entry point to the trainer.                                                                                                                                                                                                                                 | **No, unless** you want to add/remove parameters, or change parameter default values.                           |

## Suitable for TensorFlow v2.1+
