[metadata]
name = {{project}}
version = {{version}}
description = tensorflow estimator {{project}}.
long_description = file: README.md
long_description_content_type = text/markdown
url = https://gitlab.com/lotlinx/lotlinx-ml-models/tree/{{project}}/{{project}}
author = Lotlinx
author_email = data@lotlinx.com
maintainer = {{author}}
maintainer_email = {{author_email}}
requirements-file = requirements.txt
classifiers =
    Development Status :: 5 - Production/Stable
    Environment :: Console
    Environment :: GPU :: NVIDIA CUDA
    Natural Language :: English
    Operating System :: OS Independent
    Topic :: Scientific/Engineering :: Artificial Intelligence
    Topic :: Scientific/Engineering :: Natural Language Processing
    Programming Language :: Python :: 3.7
    Programming Language :: Python :: 3.8
keywords = estimator, transformer, {{project}}
project_urls =
    Source=https://gitlab.com/lotlinx/lotlinx-ml-models/tree/{{project}}/{{project}}
    Tracker=https://gitlab.com/lotlinx/lotlinx-ml-models/-/issues  # NOTE: Could point to a JIRA issue.


[options]
packages = find:
package_dir =
    {{project}}={{project}}
install_requires =
    tensorflow >= 2.1
    colorlog >= 4.6.2
python_requires = >=3.7;<3.9
include_package_data = True
zip_safe = True


[options.data_files]
{{project}}/config =
    {{project}}/config/logger/Debug.cfg
    {{project}}/config/logger/Dist.cfg
    {{project}}/config/logger/Release.cfg
    {{project}}/config/setup/global.cfg

[bdist_wheel]
universal = True
